<label class="statement">{{ question }}</label>
<ul class="likert">
  <li>
    <input type="radio" [name]="groupName" value="strongly_agree">
    <label>Strongly agree</label>
  </li>
  <li>
    <input type="radio" [name]="groupName" value="agree">
    <label>Agree</label>
  </li>
  <li>
    <input type="radio" [name]="groupName" value="neutral">
    <label>Neutral</label>
  </li>
  <li>
    <input type="radio" [name]="groupName" value="disagree">
    <label>Disagree</label>
  </li>
  <li>
    <input type="radio" [name]="groupName" value="strongly_disagree">
    <label>Strongly disagree</label>
  </li>
</ul>
