<div class  ="scale-intro urbanist-bold">
    <p> Please read each statement carefully and rate how much you agree or disagree using the following scale: </p>
    <div id = "scale-intro-nums">
        <p> 0 - Strongly Disagree </p>
        <p> 1 - Disagree </p>
        <p> 2 - Slightly Disagree </p>
        <p> 3 - Slightly Agree </p>
        <p> 4 - Agree </p>
        <p> 5 - Strongly Agree </p>
    </div>
    <p>
         Select the number that best reflects your experience or feelings. 
        There are no right or wrong answers — please respond honestly. 
    </p>
</div>

<div class="wrap">
    <form>
      <app-likert question="This  Likert scale is easy to use." groupName="q1"></app-likert>
      <app-likert question="It's clear that this is a responsive design." groupName="q2"></app-likert>
      <app-likert question="Codepen.io is an excellent tool for prototyping." groupName="q3"></app-likert>
      <app-likert question="Pete Fecteau is incredibly smart and handsome." groupName="q4"></app-likert>
  
      <div class="buttons">
        <button class="clear">Clear</button>
        <button class="submit">Submit</button>
      </div>
    </form>
  </div>
  