<style>
    @import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
</style>

<nav style="position: sticky;">
    <div class = "nav-bar"> 
        <div class = "left-nav">
            <div class = "logo-name">
                <div class = "logo">
                    <img src="images/logo.png" alt="LUMINA AI">
                </div>
                <div class="LuminaAI">
                    <h2 class="urbanist-bold"> LUMINA AI </h2>
                </div>
            </div>
            <div class = "options">
                 <a href="/home"> 
                    <h3 class="urbanist-semibold" routerLink="/home" routerLinkActive="active-link"> Home </h3>
                </a>
                <a href="/chatbot"> 
                    <h3 class="urbanist-semibold" routerLink="/chatbot" routerLinkActive="active-link"> Chatbot </h3>
                </a>

                <!-- <a routerLink="/chatbot" routerLinkActive="active-link">
                    <h3 class="urbanist-semibold">Chatbot</h3>
                  </a> -->
                  
                  <!-- <a routerLink="/resources" routerLinkActive="active-link" class = "clickable-link">
                    <h3 class="urbanist-semibold">Resources</h3>
                  </a> -->

                <a href="/resources"> 
                    <h3 class="urbanist-semibold" routerLink="/resources" routerLinkActive="active-link"> Resources </h3>
                </a>
                <a routerLink="/about" routerLinkActive="active-link">
                    <h3 class="urbanist-semibold">About Us</h3>
                </a>
                  <!-- <a href="/about"> 
                    <h3 class="urbanist-semibold" routerLink="/about" routerLinkActive="active-link"> About Us </h3>
                </a> -->
                  
            </div>
        </div>
        <div class = "right-nav">
            <div id = "notif"> <button> N </button></div>

            <div id = "search">
                <button> S </button>
            </div>
            <div id = "login">
                <button> Username </button>
            </div>
        </div>
    </div>

</nav>

<hr>

<router-outlet></router-outlet>