<style>
    @import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
</style>

    <div class = "intro center">
        <div class = "text">
            <h1 class = "urbanist-regular"> Healing Through Connection: Your Companion in Grief </h1>
        </div>
        <div class = "luminaAI">
            <h1 class = "urbanist-bold"> Lumina AI </h1>  
        </div>
        <div class = "description">
            <h6 class = "urbanist-regular"> Use AI to connect with lost loved ones </h6>
        </div>
        <div class = "sign-up">
            <button id ="activate" class="urbanist-regular"> Activate Your Account </button>
            <button id = "google" class="urbanist-regular"> Sign up with Google </button>
        </div>
    </div>
